<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="lobby_css.css">
        <script src="lobby_script.js"></script>
    </head>

    <body>
        <p>Hello world!</p>
    </body>
</html>