<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/game/game_css.css">
        <script src="/game/game_script.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <p><%= myUsername %>, you are: <%= game._characterSelected[myUsername] %></p>
        <div id="game-space">
            <p><%= game._name %></p>
            <% for (let i = 0; i < game._cur_players - 1; i++) { %>
                <p><%= game.current_players[i] %></p>
            <% } %>
        </div>
    </body>
</html>