<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/lobby/lobby_css.css">
        <script src="/lobby/lobby_script.js"></script>
    </head>

    <body>
        <form action="/pregame/new_game" method="post" id="newGameForm">
            <input type="text" id="username" name="username">
        </form>

        <button type="button" onclick="newGame()">Create new game</button>
    </body>
</html>