<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/lobby/lobby_css.css">
        <script src="/lobby/lobby_script.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <h1 class="item">Avalon</h1>

        <form action="/pregame/new_game" method="post" id="newGameForm">
            <input type="text" id="username" name="username" class="item">
        </form>

        <button type="button" onclick="newGame()" class="item">Create new game</button>

        <br>

        <div id="games">
            <% for(let i = 0; i < unreadyGames.length; i++) { %>
                <p> <%= unreadyGames[i].name %> : <%= unreadyGames[i].cur_players %> / <%= unreadyGames[i].max_players %> </p>
            <% } %>
        </div>
    </body>
</html>