<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/lobby/lobby_css.css">
        <script src="/lobby/lobby_script.js"></script>
    </head>

    <body>
        <h1>Avalon</h1>

        <form action="/pregame/new_game" method="post" id="newGameForm">
            <input type="text" id="username" name="username">
        </form>

        <button type="button" onclick="newGame()">Create new game</button>

        <br>

        <div id="games">
            <% for(let i = 0; i < unreadyGames.length; i++) { %>
                <p> <%= unreadyGames[i].name %> : <%= unreadyGames[i].cur_players %> / <%= unreadyGames[i].max_players %> </p>
            <% } %>
        </div>
    </body>
</html>